//Month //
#monthChoice{
    display : flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    padding-top: 25px;
}

#month {
    height: 8vh;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

//Controls Arrow //
#previous_arrow{
    padding-right: 15px;
    color: palevioletred;
    padding-top: 10px;
}

#next_arrow{
    padding-left: 15px;
    color: palevioletred;
    padding-top: 10px;
}

//Calendar //
.grid {
    display : inline-block;
    width: 13%;
    height : 90px;
    font-size: 2em;
}

#calendarTable {
    margin: auto;
    width: 100%;
}

#week{
    display: flex;
    flex-direction: row;
    
}

.day {
    display: inline-block;
    width: 13%;
    height : 90px;
    font-size: 18px;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 10px;
    color: palevioletred;
}

#week{
    display: flex;
    flex-direction: row;
}

//Add Event

#title{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    font-weight: bold;
}

.selector {
    border : solid 1px black
}

 #event-list {
     height : 510px;
     border : solid 1px black;
     margin-top: 50px;
     overflow: auto;

     h3{
         text-align: center;
         margin-top: 15px;
         font-weight: bold;
     }
 }